body {
			font-family: Arial, sans-serif;
			margin: 0;
			padding: 0;
            background-image: url("../pictures/Seoulfinds.png");
            background-repeat: no-repeat;
            background-size: 100%;
            background-position:inherit;
           
		} 
        header {
            background-color: #f77070;
            color: white;
            padding: 10px;
            text-align: center;
          }
          nav {
            background-color: #FAA0A0;
            color: white;
            padding: 10px;
            text-align: center;
          }
          nav a {
            color: white;
            padding: 10px;
            text-decoration: none;
          }
          nav a:hover {
            background-color: black;
            color: yellow;
          }
          
		  h1 {
			margin: 0;
			font-weight: bold;
			font-family: Impact;
			color: black;
		  }
		  
          .background{
            background-size: 100%;
             display: fixed;
            z-index: -99;
          }

        ul {
            list-style: none;
            padding: 0;
        }

        li {
            margin-bottom: 10px;
            padding: 10px;
            background-color: #f2f2f2;
            display: flex;
          justify-content: center;
        }

        .product-image {
            width: 70px;
            height: 60px;
            margin-right: 10px;
        }

        .quantity {
            margin-right: 10px;
        }

        .quantity-input {
            width: 40px;
            padding: 5px;
            border: 1px solid #ccc;
        }

        .delete-button {
            padding: 5px 10px;
            background-color: #f44336;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
    
			
        }
        #totalPrice, .checkout-button, .cancel {
            display: block;
            margin: 10px auto;
            font-size: 20px;
            text-align: center;  color: #333;
            text-decoration: none;
            color: black;
            border-radius: 5px;
            cursor: pointer;
           
        }
        .checkout-button{
            background-color:  #f77070;
        }

        .empty-cart {
            color: #888;
        }		
		
    
        .footer {
            background-color: black;
            padding: 20px;
            text-align: center;
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
        }

        .footer p {
            margin: 0;
            color: white;
        }