body {
    font-family: Arial, sans-serif;
    margin: 0;
  }
  
  header {
    background-color: #f77070;
    color: white;
    padding: 10px;
    text-align: center;
  }
  h1 {
    margin: 0;
    font-weight: bold;
    font-family: Impact;
    color: black;
  }
  nav {
    background-color: #FAA0A0;
    color: white;
    padding: 10px;
    text-align: center;
  }
  nav a {
    color: white;
    padding: 10px;
    text-decoration: none;
  }
  nav a:hover {
    background-color: black;
    color: yellow;
  }
  
  main {
    max-width: 1200px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
  }
  
  section {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
  }
  
  section h2 {
    margin-bottom: 10px;
  }
  
  section ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  section li {
    margin-bottom: 10px;
  }
  
  section li a {
    color: #0057b8;
    text-decoration: none;
  }
  
  section li a:hover {
    text-decoration: underline;
  }
  
  .contact {
    display: flex;
    flex-wrap: wrap;
  }
  
  .contact-item {
    display: flex;
    align-items: center;
    margin-right: 20px;
  }
  
  .contact-item img {
    margin-right: 10px;
    width: 20px;
    height: 20px;
  }


    .footer-bottom {
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: #333;
    color: #fff;
    margin-top: 225px;
    height: 30px;
    }